<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
</script>
<title>Book Ratings</title>
<h1>New User</h1>
<form method="POST" action="/checkuser" class="front-page">
    User ID: <input type="text" id="userid" name="userid"><br>
    <p class="warning">{{message}}</p>
    <input type="submit" value="Add User" class="button">
</form>
<form method="POST" action="/backhome" class="front-page">
    <button type="submit" class="button">Back to Login</button>
</form>